
/* universal */

body {
  margin: 0;
}

a {
  color: black;
}

/* header */

header {
display: flex;
align-items: center;
z-index: 1;
position: fixed;
font-family: verdana;
font-size: 14px;
font-weight: bold;
position: fixed;
width: 100%;
height: 80px;
border-bottom: 1px solid black;
background-color: white;
}

header nav {
  padding-right: 40px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;

}

.logo span {
  color: mediumaquamarine;
}

.logo img {
  height: 60px;
  width: 70px;
  margin-right: 12px;
}

/* universal body */

.content {
  display: flex;
  padding-top: 116px;
  width: 1232px;
  margin: 0 auto 78px auto;
  font-family: georgia;
}

.guess {
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}


/* large column */

.stories {
  display: flex;
  justify-content: space-between;
}

.story-content {
}

.column.large {
  width: 630px;
  margin-right: 32px;
}

.large p {
  font-size: 17px;
}

.firststorytitle {
  flex-direction: column;
  width: 630px;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.orca-spends {
}

.burger-breakfast {
}

.earth-spins {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

.research-shows {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 300px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

/* medium column */

.column .medium {
  display: flex;
  width: 300px;
  margin-right: 32px;
}

.fbifindsstory {
}

.catsincontrol {
}

.catsincontrol span {
}

/* small column */

.column .small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 240px;
}

.lastcolumnstory {
}
