
/* universal */

body {
  margin: 0;
}

a {
  color: black;
}

/* header */

header {
display: flex;
align-items: center;
z-index: 1;
position: fixed;
font-family: verdana;
font-size: 14px;
font-weight: bold;
position: fixed;
width: 100%;
height: 80px;
border-bottom: 1px solid black;
}

header nav {
  padding-right: 40px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo span {
  color: mediumaquamarine;
}

.logo img {
  height: 60px;
  width: 70px;
  margin-right: 12px;
}

.content {
  display: flex;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: 1px solid black;
}


/* large column */

.column.large {
  width: 630px;
  border: 2px solid black;
}

.firststorytitle {
  border: 1px solid black;
}

.orca-spends {
  border: 3px solid black;
}

.burger-breakfast {
  border: 3px solid black;
}

.earth-spins {
  border: 2px solid black;
}

/* medium column */

.column .medium {
  width: 300px;
  border: 2px solid black;
}

.fbifindsstory {
  border: 2px solid black;
}

.catsincontrol {
  border: 2px solid black;
}

.catsincontrol span {
  border: 1px solid black;
}

/* small column */

.column .small {
  width: 240px;
  border: 1px solid black;
}

.lastcolumnstory {
  border: 1px solid black;
}
